{% extends 'base.html' %}
<title>{% block title %} Update Product {% endblock title %}</title>
{% block body %}
    <div class="container py-2">
            <div class="row py-4 pb-0 pb-sm-4 align-items-center ">
              <div class="col-sm-4 col-lg-3 text-center text-sm-start">
                <div class="main-logo">
                  <a href="{{url_for('viewcategory')}}">
                      <iconify-icon icon="mdi:arrow-back-circle" width="50" height="50" style="color: black;"></iconify-icon>
                  </a>
                </div>
              </div>
    <div class="container ">
        <div class="offset-md-3 col-md-6 my-5 ">
          {% include 'flash_message.html'%}
          <h2 class="display-3 fw-normal text-center">Update Category
          </h2>
          <form action="/update_category/{{category_to_update.id}}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label" >Name</label>
              <input type="text" class="form-control form-control-lg" name="name" value="{{category_to_update.name}}" required>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-dark btn-lg rounded-1">Update Category</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock body %}

