{% extends 'base.html' %}
<title>{% block title %} Update Product {% endblock title %}</title>
{% block body %}
    <div class="container py-2">
            <div class="row py-4 pb-0 pb-sm-4 align-items-center ">
              <div class="col-sm-4 col-lg-3 text-center text-sm-start">
                <div class="main-logo">
                  <a href="{{url_for('admin_home')}}">
                      <iconify-icon icon="mdi:arrow-back-circle" width="50" height="50" style="color: black;"></iconify-icon>
                  </a>
                </div>
              </div>
    <div class="container ">
        <div class="offset-md-3 col-md-6 my-5 ">
          {% include 'flash_message.html'%}
          <h2 class="display-3 fw-normal text-center">Update Products
          </h2>
          <form action="/update_product/{{product_to_update.id}}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label" >Name</label>
              <input type="text" class="form-control form-control-lg" name="name" value="{{product_to_update.name}}" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label" >Price</label>
                <input type="text" class="form-control form-control-lg" name="price" value="{{product_to_update.price}}" required>
              </div>
              <div class="mb-3">
                <label for="category">Category</label>
                <select name="category" id="category" class="form-control form-control-lg" required>
                    <option value="">Select a category</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == product_to_update.category_id %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
              <div class="mb-3">
                <label for="Desc" class="form-label">Description</label>
                <textarea class="form-control form-control-lg" placeholder="Description about product" name="desc" required >{{product_to_update.description}}</textarea>
              </div>
              <div class="mb-3">
                <label for="tag" class="form-label" >Tags</label>
                <input type="text" class="form-control form-control-lg" name="tag" value="{{product_to_update.tag}}" required>
              </div>
              <div class="mb-3">
                <input type="file" class="form-control" name="pic">
              </div>
              <div class="mb-3">
                <label for="pic" class="form-label">Original Image Name</label>
                <input type="text" class="form-control form-control-lg" name="pic" value="{{ product_to_update.image_file }}" readonly>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-dark btn-lg rounded-1">Update Product</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock body %}

