{% extends 'base.html'%}
<title>{% block title %} View_category {% endblock title %}</title>
<body>
{% block body %}
{% include 'admin/navbar.html'%}
  <div class="container">
    {% include 'flash_message.html'%}
    <h2>All Category</h2>
    <table class="table table-sm">
      <thead>
        <th>S.N</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
      <tbody>
      {% for category in all_category %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{category.name}}</td>
          <td><a href="/update_category/{{ category.id }}" class="btn btn-outline-secondary">Edit</a></td>
          <td><a href="/delete_category/{{ category.id }}" class="btn btn-outline-danger">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
      {% include 'footer.html' %}
{% endblock body %}
</body>