{% extends 'base.html' %}

<title>{% block title %}Change-Password{% endblock title %}</title>


<body>
    {%block body %}
    <div class="container py-2">
        <div class="row py-4 pb-0 pb-sm-4 align-items-center">
            <div class="col-sm-4 col-lg-3 text-center text-sm-start">
                <div class="main-logo">
                  <a href="{{url_for('home')}}">
                    <img src="{{ url_for('static', filename='images/logo.png')}}" alt="logo" class="img-fluid">
                  </a>
                </div>
              </div>
          
          <div class="col-sm-8 col-lg-9 d-flex justify-content-between justify-content-sm-end align-items-center">
            {% if current_user.is_authenticated %}
            <div class="support-box text-end d-none d-xl-block">
                <span class="fs-6 secondary-font text-muted">Logout:<a href="{{url_for('logout')}}" class="mx-3"><iconify-icon icon="majesticons:logout-line" width="20" height="20"></iconify-icon></a></span>
                <h5 class="mb-0">{{current_user.email}}</h5>
              </div>
              {% else %}
              <div class="support-box text-end d-none d-xl-block">
                <span class="fs-6 secondary-font text-muted">Login:<a href="{{url_for('login')}}" class="mx-3"><iconify-icon icon="mynaui:login" width="20" height="20"></iconify-icon></a></span>
              </div>
              {% endif %}
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <hr class="m-0">
      </div>
        <div class="container mt-3">
            {% include 'flash_message.html'%}
            <div class="offset-md-3 col-md-6 my-5 ">
              <h2 class="display-3 fw-normal text-center">Change Password
              </h2>
              <form method="post">
                <div class="mb-3">
                    <label for="password" class="form-label">Enter Your Old Password: </label>
                    <input type="password" class="form-control form-control-lg" name="oldpassword" placeholder="Enter your password" required>
                  </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Enter New Password: </label>
                  <input type="password" class="form-control form-control-lg" name="newpassword" id="password1"
                    placeholder="Create Password">
                </div>
                <div class="mb-3">
                <label for="password" class="form-label">Re-Enter-Password: </label>
                  <input type="password" class="form-control form-control-lg" name="repassword" id="password2"
                    placeholder="Repeat Password">
                </div>
    
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-dark btn-lg rounded-1">update</button>
                </div>
              </form>
          </div>
        </div>
 

    {% endblock body %}  
</body>
